* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* head section css */
.container{
    max-width: 100%;
    text-align: center;
    background: #EBE7E7;
    opacity: 0.8;
 /* margin: 100px; */

}

h1{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 40px 0;
}

h1::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: rgb(78, 78, 156);
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;

}

@keyframes animate {
    0%{
        width: 300px;
    }
    50%{
        width: 200px;
    }
     100%{
        width: 100px;
    }
    
}








.container {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}




::-webkit-scrollbar {
    display: none;
}

.photo_gallery{
    max-width: 100%;
    
    margin: 20px 25px 0 29px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    }

.pic{
    position: relative;
    max-height: 100%;
    
}

img{
    border-radius: 10px ;
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(126, 92, 126); 
   height: 300px;
   width: 435px;
  
}

